body {
    margin: 0;
    font-family: Arial, sans-serif;
     background-image: radial-gradient(circle, #c33764, #1d2671);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: black;
    color: white;
}
.nav-links li {
    display: inline;
    margin: 0 15px;
}
.nav-links a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px;
}
.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #333;
}

.btn {
    margin-top: 15px;
    padding: 10px 20px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover {
    background: #555;
}

.about-section, .contact-section {
    padding: 40px;
    text-align: center;
    background: radial-gradient(circle, #c33764, #1d2671);
}

.skills-section, .projects-section {
    padding: 40px;
    background: radial-gradient(circle, #c33764, #1d2671);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}
.skill {
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
}

.project-card {
    background: radial-gradient(circle, #c33764, #1d2671);
    padding: 20px;
    margin: 15px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

.logo img {
    display: block;       /* or inline-block, as needed */
    width: 120px;         /* set desired width */
    height: auto;         /* preserve aspect ratio */
    object-fit: cover;    
}
